/* css styles */

.full-width-iframe {
  width: 100vw;         /* Full viewport width */
  margin-left: calc(-50vw + 50%); /* Center it by offsetting the document padding */
  height: 1000px;       /* Or any desired height */
  overflow: hidden;
}

.full-width-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.sidebar-item-container a {
  color: white; !important;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
}


.sidebar-item-container a:hover {
  background-color: #f6e3f3 !important;
  color: black !important;
  padding: 8px 16px;

}

.sidebar-item-container a.active {
  background-color: #f6e3f3;
  color: black !important;
  padding: 8px 16px;

}

.sidebar-item a i {
  margin-right: 8px;
}

.sidebar-tools-main a i {
  color: white; !important;
}
